/* --------------- FONT & BACKGROUND STYLES --------------- */
body{
  background-color: #130523;   
  font-family: 'Work Sans', sans-serif;
}

.gameHeading{
  text-align: center;
  color: #F2E7FE;
  font-size:61px;
  margin-top: 80px;
}

/* --------------- CELL STYLES --------------- */
.gameBoard{
  display: flex;
  margin: 40px auto;
  justify-content: center;
  align-items: center;
}

/* --------------- BUTTON STYLES --------------- */
.buttonsContainer{
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.button{
  display: flex;
  align-items: center;
  line-height: 48px;
  padding: 0 24px;
  border-radius: 6px;
  border: none;
  background-color: #F2E7FE;
  color: #130523;
  font-weight: 800;
  font-size: 16px;
}

.button img{
  margin-right: 16px;
}

.button:hover{
  opacity: 80%;
  cursor: pointer;
}